#labelMailLogin, #labelPasswordLogin {
    margin: 10px;
    width: auto;
}
.card {
    padding: 10px;
    border-radius: 5px;
}
.toast {
    background-color: white;
}
small {
    padding-left: 25px;
    padding-right: 5px;
}
.modal {
    background-color: transparent;
    overflow: hidden;
    max-height: 100%;
    width: 100%;
}
.row {
    margin: 0;
}
#buttonEdit {
    background-color: grey;
    border-color: grey;
}
@media only screen and (max-width : 400px) {
    #imageUser {
        width: 100%;
    }
}
@media only screen and (min-width : 401px) {
    #imageUser {
        width: 50%;
    }
}
.loader{
    background: url('../loader.png') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
    cursor: wait;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader h1{
    background: none;
    border: none;
    color: #458976;
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    height: 700px;
    line-height: 700px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}