<div class="container-fluid">
    <div class="col"
         style="max-width: 500px;
                display: run-in;
                margin: auto;
                vertical-align: baseline;
                height: inherit;">
        <div class="row" style="padding-top: 50px;">
            <div class="card">
                <div style="width: 100%; text-align-last: center">
                    <img src="../res/logo.png"
                         style="width: 50px;height: 50px;">
                </div>
                <!--<div style="width: 100%; text-align-last: center; color: teal;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </div>-->
                <label for="labelMailLogin" class="form-label">Email</label>
                <input type="email" class="form-control" id="labelMailLogin" aria-describedby="emailHelp" placeholder="Enter email">
                <label for="labelPasswordLogin" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="labelPasswordLogin" placeholder="Enter password">
                <button class="btn btn-primary" onclick="indexController.connection()">Se connecter</button>
                <div style="text-align: center; padding-top: 5px">
                    <span data-bs-toggle="modal" data-bs-target="#registerModal"><ins>S'inscrire !</ins></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-top w-100">
                <!-- Then put toasts within -->
                <div id="toastLogin" data-bs-delay="5000" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header" style="width: 100%;">
                        <strong id="toastMessage" class="me-auto"></strong>
                        <small class="text-muted">now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
                    <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="labelPseudoRegister" class="form-label">Pseudo</label>
                    <input type="text" class="form-control" id="labelPseudoRegister" placeholder="Enter pseudo">
                    <label id="mailRegister" for="labelMailRegister" class="form-label">Email</label>
                    <input type="email" class="form-control" id="labelMailRegister" aria-describedby="emailHelp" placeholder="Enter email">
                    <label for="labelPasswordRegister" class="form-label">Password</label>
                    <input type="password" class="form-control" id="labelPasswordRegister" placeholder="Enter password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="indexController.register()">Validate</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Flexbox container for aligning the toasts -->

